# Ignore node_modules in the HeartRateLimits subfolder
Shoppinglist/node_modules/

# Ignore Expo files in the HeartRateLimits subfolder
Shoppinglist/.expo/
Shoppinglist/.expo-shared/

# Logs
Shoppinglist/logs/
Shoppinglist/*.log
Shoppinglist/npm-debug.log*
Shoppinglist/expo-debug.log*

# Yarn Integrity file
Shoppinglist/.yarn-integrity

# Optional npm cache directory
Shoppinglist/.npm/

# Optional dotenv environment variable file
Shoppinglist/.env

# MacOS files
Shoppinglist/.DS_Store

# Android & iOS build artifacts
Shoppinglist/*.apk
Shoppinglist/*.apkg
Shoppinglist/*.aar
Shoppinglist/*.ipa
Shoppinglist/.DS_Store

# Build directory
Shoppinglist/build/